.Nav {
  overflow: hidden;
  background-color: hotpink;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  height: 6em;
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.Buttons {
  margin: 1em;
  background-color: orange;
  width: 2.5em;
  height: 2.5em;
}
